include ../config/config 
include ../includes/mixins 
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //FAVICON
    link(rel="shortcut icon", href=`${favicon}`)
    //OPEN GRAPH
    meta(property="og:title" content=`${tituloRedes}`)
    meta(property="og:type" content="website")
    meta(property="og:url" content=`${urlWeb}`)
    meta(property="og:image" content=`${imgWeb}`)
    meta(property="og:description" content=`${descripccionRedes}`)
    //SCHEMA MARKUP FOR GOOGLE
    meta(itemprop="name" content=`${tituloRedes}`)
    meta(itemprop="description" content=`${descripccionRedes}`)
    meta(itemprop="image" content=`${imgWeb}`)
    //TWITTER CARD DATA
    meta(name="twitter:card" content=`${twitterCard}`)
    meta(name="twitter:site" content=`${urlWeb}`)
    meta(name="twitter:title" content=`${tituloRedes}`)
    meta(name="twitter:description" content=`${descripccionRedes}`)
    meta(name="twitter:image:src" content=`${imgWeb}`)
    //FONTAWESOME
    link(rel="stylesheet", href="assets/fontawesome/css/all.min.css")
    script(src="assets/fontawesome/js/all.min.js")
    //STYLE BASE
    link(rel="stylesheet", href="css/styles.css")
    block title-description
  body
    header.header
      .header__top
        .header__top--container.container
          #bars-menu.header__bars
            <i class="fas fa-bars"></i>
          .header__delivery--desktop
            <i class="fas fa-truck"></i>
            a(href="tel:+51987654321") 987654321
          .header__redes
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram-square"></i>
          form#search.search(action="" method="post")
            .search__control 
              .search__back
                <i class="fas fa-arrow-left"></i>
              input.search__input(type="text" name="nombre" placeholder="Buscar productos")
              button.search__button(type='submit') <i class="fas fa-search"></i>
            .search__data.container
              ul#search-data
                //- li: a(href="#") Panadol
                //- li: a(href="#") Dioxido de cloro
                //- li: a(href="#") Hola christopher :v
                //- li: a(href="#") Hola panadol
                //- li: a(href="#") Minecraft level rata
          .header__right
            .header__user
              a(href="#") Iniciar sesión
            .header__user
              a(href="#") Registrate
            #btn-search.header__search
              <i class="fas fa-search"></i>
            .header__shopping
              <i class="fas fa-shopping-cart"></i>
              span 04
      #header-main.header__main
        .header__main--container.container
          figure.header__logo
            img(src="assets/img/logoFarmacia.png", alt="logo farmacia cibertec")
          nav#nav.header__nav
            .header__login
              <i class="far fa-user"></i>
              a(href="login.html") Iniciar sesión
            ul.main-menu
              li.main-menu__item: a.main-menu__link(href="index.html") Inicio
              li.main-menu__item 
                .main-menu__item--icon Categorias
                  .icon-drop 
                    <i class="fas fa-caret-down"></i>
                ul.main-menu__submenu
                  li.main-menu__subitem
                    <i class="fas fa-home"></i>
                    a.main-menu__link(href="hogar.html") Hogar
                  li.main-menu__subitem
                    <i class="fas fa-pills"></i>
                    a.main-menu__link(href="vitaminas-suplementos.html") Vitaminas y suplementos
                  li.main-menu__subitem
                    <i class="fas fa-baby-carriage"></i>
                    a.main-menu__link(href="infantil-maternidad.html") Infantil y maternidad
                  li.main-menu__subitem
                    <i class="fas fa-briefcase-medical"></i>
                    a.main-menu__link(href="medicina-ortopedia.html") Medicina y ortopedia
                  li.main-menu__subitem
                    <i class="fas fa-pump-medical"></i>
                    a.main-menu__link(href="cuidado-personal.html") Cuidado personal
                  li.main-menu__subitem
                    <i class="fas fa-head-side-mask"></i>
                    a.main-menu__link(href="proteccion-covid.html") Protección Covid-19
              li.main-menu__item: a.main-menu__link(href="conocenos.html") Conócenos
              li.main-menu__item: a.main-menu__link(href="servicios.html") Servicios
              li.main-menu__item: a.main-menu__link(href="productos.html") Productos
              li.main-menu__item: a.main-menu__link(href="contacto.html") Contáctanos
          .header__delivery
            <i class="fas fa-truck"></i>
            a(href="tel:+51987654321") 987654321
    block banner
    block main
    footer.footer.section
      .footer__container.container
        .footer__grid
          .footer__item
            figure.footer__logo
              img(src=`${img}logoFarmacia.png`, alt="logo farmacia")
            p.footer__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet cumque corporis aperiam delectus odit ducimus est, minus quia commodi
          .footer__item
            h3.footer__title Links
            ul.footer__list
              li.footer__link: a(href="#") Inicio
              li.footer__link: a(href="#") Categorias
              li.footer__link: a(href="#") Conocenos
              li.footer__link: a(href="#") Servicios
              li.footer__link: a(href="#") Productos
              li.footer__link: a(href="#") Contactenos
          .footer__item
            h3.footer__title Suscripcción
            p.footer__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
            form.footer__form(action="#", method="post")
              input.input(type="text" placeholder="Correo electronico")
              input.button(type="submit", value="Enviar")
          .footer__item
            h3.footer__title Redes sociales
            p.footer__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias debitis Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            .footer__networks.social-networks
              a(href="#").social-networks__item
                <i class="fab fa-facebook-f"></i>
              a(href="#").social-networks__item
                <i class="fab fa-instagram"></i>
              a(href="#").social-networks__item
                <i class="fab fa-twitter"></i>
              a(href="#").social-networks__item
                <i class="fab fa-youtube"></i>
              a(href="#").social-networks__item
                <i class="fab fa-linkedin-in"></i>
      .credits
        .credits__container.container
          p.credits__paragraph Desarrollado por 
            a(href="#") TeamCibertec
    script(src="js/scripts-min.js")


